*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    display: flex;
    justify-content: space-between;

    width: 293px;

    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 0px;
    gap: 29px;
    
    width: 293px;
    height: 42.15px;


}

nav{
    display: flex;
    justify-content: flex-start;

    border: 1px red solid;
    width: 1280px;
    height: 100px;
}

nav h1{
    margin-right: 235px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    

}
